body{
    background-image: url(https://e0.pxfuel.com/wallpapers/13/881/desktop-wallpaper-neon-green-and-black-background-lime-green-and-black.jpg);
}

.sound{
    color: #ffffff;
}

.copy_right_footer{
    color: #ffffff;
}

.audio{
    color: #d4d1d1;
}

